.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
}

@media only screen and(max-width:768px){
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 40px; 
    }
} 

@media only screen and(max-width:375px){
    .container{
        max-width: 327px;
        margin: 0 auto;
        padding: 0; 
    }
} 
