.contact {
margin-bottom: 160px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 96px;
        background-image: url(../../images/contact-bg.png);
        background-repeat: no-repeat;
        background-color: #E7816B;
    }

    &--items {
        margin-top: 135px;
        margin-bottom: 161px;
        width: 540px;

        &-title {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 48px;
            line-height: 48px;
            color: #FFFFFF;
        }

        &-text {
            width: 445px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }

    &__form {
        margin-top: 55px;
        margin-bottom: 54px;
        display: flex;
        align-items: end;
        flex-direction: column;


        &--label {
            display: flex;
            flex-direction: column;
            gap: 25px;

            &-text {
                padding-bottom: 12px;
                margin-bottom: 25px;
                width: 380px;
                background: none;
                border: none;
                border-bottom: 1px solid #FFFFFF;



                &::placeholder{
                    padding-left: 16px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 26px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
                

                &:focus {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #FFFFFF;

                }
            }


        }

        &--button {
            width: 152px;
            padding: 17px 47px;
            background: #FFFFFF;
            border-radius: 8px;
            border: none;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #333136;

        }
    }
}