.footer {
    background-color: #1D1C1E;

    &__inner {
        margin-top: 72px;
        margin-bottom: 64px;
    }

    &__nav {
        @extend %d-f-row;
        padding-bottom: 40px;

        &--logo {

            &-img {
                width: 196px;
                height: 24px;
            }
        }

        &---list {
            width: 370px;
            @extend %d-f-row;
            @extend %l-unstyled;

            &--item {
                text-transform: uppercase;

                &-link {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 2px;
                    color: #ffffff;
                }

                &-link::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: #1D1C1E;
                }

                &-link:hover:after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: #fff;
                    transition: 0.2s;
                }
            }
        }
    }

    &-line {
        width: 1111px;
        height: 1px;
        background-color: #FFFFFF;
        opacity: 0.1;
    }

    &---list {
        margin: 31px 0 0;
        @extend %d-f-row;
        @extend %l-unstyled;

        &--item {
            display: flex;
            flex-direction: column;

            &-title {
                margin: 0;
                padding: 0;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
            }

            &-subtitle {
                margin: 0;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }

        &--links {
            width: 184px;
            display: flex;
            justify-content: space-between;
            align-self: end;

            &-link {
                color: #E7816B;

                &:hover {
                    color: #FFAD9B;

                }
            }

        }

    }
}



@media only screen and(max-width:375px) {

    .footer {
        background-color: #1D1C1E;

        &__inner {
            margin-top: 253px;
            margin-bottom: 64px;
        }

        &__nav {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 40px;

            &--logo {

                &-img {
                    width: 196px;
                    height: 24px;
                    margin-bottom: 32px;
                }
            }

            &---list {
                margin-top: 32px;
                width: 327px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 32px;
                @extend %l-unstyled;

                &--item {
                    text-transform: uppercase;

                    &-link {
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 14px;
                        letter-spacing: 2px;
                        color: #ffffff;
                    }

                    &-link::after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: #1D1C1E;
                    }

                    &-link:hover:after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: #fff;
                        transition: 0.2s;
                    }
                }
            }
        }

        &-line_mobile {
            display: block;
            width: 1111px;
            height: 1px;
            background-color: #FFFFFF;
            opacity: 0.1;
        }

        &-line {
            display: none;
            width: 1111px;
            height: 1px;
            background-color: #FFFFFF;
            opacity: 0.1;
        }

        &---list {
            margin: 31px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @extend %l-unstyled;
            gap: 40px;

            &--item {
                display: flex;
                flex-direction: column;

                &-title {
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                    text-align: center;
                }

                &-subtitle {
                    margin: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                    text-align: center;

                }
            }

            &--links {
                width: 184px;
                display: flex;
                justify-content: space-between;
                align-self: center;

                &-link {
                    color: #E7816B;

                    &:hover {
                        color: #FFAD9B;

                    }
                }

            }

        }
    }



}