.intro {
    margin-bottom: 160px;

    &__inner {
        padding: 0 95px;
        display: flex;
        justify-content: space-between;
        background: #E7816B;
        background-image: url(../../images/intro-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 15px;
    }

    &--items {
        padding: 145px 0;
        width: 540px;

        &-title {
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 48px;
            line-height: 48px;
            color: #FFFFFF;
        }

        &-text {
            margin-top: 30px;
            margin-bottom: 58px;                             /*----------mb 40 bolishi kerak lekin a ni ustiga chiqib qolyapti*/
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;

        }

        &-link {
            padding: 17px 25px;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #333136;
            background: #FFFFFF;
            border-radius: 8px;
        }
        &-link:hover{
           
            padding: 17px 25px;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #FFAD9B;
            border-radius: 8px;
        }

    }

    &-img {
        margin-top: 139px;
        filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    }
}