.location {
    margin-bottom: 160px;
    margin: 0 auto;
    background-image: url(../../images/feature-bg.png);
    background-repeat: no-repeat;
    background-position: 400px 35px;
    position: relative;
    z-index: -1;

    &__inner {
        margin-bottom: 380px;
        display: flex;
        flex-direction: column;
    }


    &---list {
        @extend %d-f-row;
        @extend %l-unstyled;


        &--item {

            width: 350px;
            @extend %d-f-column;

            &-bg {
                position: absolute;
                background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                opacity: 0.2;
                width: 202px;
                height: 202px;
                mix-blend-mode: normal;
                transform: matrix(0, -1, -1, 0, 0, 0);
                border-radius: 50%;
                top: -25px;
            }

            &-bg_two {
                position: absolute;
                background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                mix-blend-mode: normal;
                opacity: 0.2;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 202px;
                height: 202px;
                border-radius: 50%;
                top: -25px;

            }

            &-bg_three {
                position: absolute;
                background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                mix-blend-mode: normal;
                opacity: 0.2;
                transform: matrix(0, 1, 1, 0, 0, 0);
                width: 202px;
                height: 202px;
                border-radius: 50%;
                top: -25px;

            }

           
            &-img {
                position: relative;
                margin-bottom: 48px;
            }
            &-img_first {
                margin-bottom: 10px;
                // position: relative;
            }
           

            &-img_three {
                // margin-top: 36px;
                position: relative;
            }

            &-texts {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &-title {
                    padding: 0;
                    margin-top: 48px;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 5px;
                    color: #333136;
                }

                &-link {
                    padding: 17px 18.5px;
                    margin-top: 32px;
                    margin-bottom: 0;
                    background: #E7816B;
                    border-radius: 8px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color:white;

                }
            }
        }
    }
}


@media only screen and (max-width:768px) {

    .feature {
        background: none;
        background-repeat: no-repeat;
        position: relative;

        &__inner {
            margin-bottom: 331px;

        }

        &---list {
            width: 689px;
            flex-direction: column;
            gap: 32px;

            &--item {

                width: 689px;
                flex-direction: row;
                gap: 48px;

                &-bg {
                    top: -10px;
                    left: 40px;
                }

                &-bg_two {
                    top: 235px;
                    left: 40px;

                }

                &-bg_three {
                    top: 475px;
                    left: 40px;

                }

                &-img {
                    position: relative;
                    margin-bottom: 0;

                }

                &-img_three {
                    margin-top: 10px;
                }

                &-texts {
                    margin: 41px 0;
                    width: 439px;
                    display: flex;
                    align-items: start;
                    flex-direction: column;

                    &-title {
                        padding: 0;
                        margin: 0;
                        text-align: center;
                    }

                    &-link {
                        margin-top: 16px;
                        margin-bottom: 0;
                        text-align: start;
                    }
                }
            }
        }
    }

}



@media only screen and (max-width:375px) {

    .feature {
        width: 375px;
        background: none;
        background-repeat: no-repeat;
        position: relative;

        &__inner {
            width: 327px;
            margin-bottom: 311px;

            display: flex;
            align-items: center;

        }

        &---list {
            width: 327px;
            flex-direction: column;
            gap: 80px;

            &--item {

                width: 327px;
                flex-direction: column;
                gap: 48px;

                &-bg {
                    top: -10px;
                    left: 87px;
                }

                &-bg_two {
                    top: 530px;
                    left: 87px;

                }

                &-bg_three {
                    top: 1070px;
                    left: 87px;

                }

                &-img {
                    position: relative;
                    margin-bottom: 0;

                }

                &-img_three {
                    margin-top: 10px;
                }

                &-texts {
                    margin: 48px 0;
                    width: 327px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    &-title {
                        padding: 0;
                        margin: 0;
                    }

                    &-text {
                        margin-top: 32px;
                        margin-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

}